.hero {
    position: relative;
    background-image: url('./hero-img.jpg');
    opacity: 90%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    backdrop-filter: contrast(1%);

    display: flex;
    justify-content: center;
}

.intro-text {
    /* background: yellow; */
    width: 80%;
    position: absolute;
    margin-top: 10%;
    justify-content: center;
}
.intro-text-p {
    font-size: 30px;
    color: rgba(40, 44, 52, 1);
    margin-bottom: 0;
}

.hero-text {
    margin-top: 0;
    font-weight: 800;
    font-size: 60px;
    color: rgba(151, 36, 1, 0.884);
    mix-blend-mode: multiply;
}