.dogTypesSection {
    background: rgba(179, 177, 177, 0.274);
    /* height: 100vh; */
    height: 100%;
}

.content {
    margin: 1em auto;
    margin-bottom: 0;
    display:flex;
    width:90%;
    height: 100%;
}

.content-left {
    justify-content: left;
    width: 40%;
    margin: 3em 0;
}

.content-left-top-text {
    text-align: left;
}
.main-text {
    color: rgba(151, 36, 1, 0.884);
    font-size: 200%;
    font-weight: 700;
}
.sub-text {
    color: #282c34;
    font-size: 18px;
}

.content-left-paragraph {
    display: flex;
    flex-direction: column;
}

.content-left-paragraph > p {
    word-spacing: 0.25em;
    width: 90%;
    line-height: 1.25em;
    text-align: left;
}




/* right-side content */

.content-right {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0;
    width: 60%;
    /* background:green; */
}
.content-right-image-div {
    margin-top: 2em;
}
.content-right-image {
   width:50%;
   border-radius: 2rem;
}

.dog-name {
    color: rgba(151, 36, 1, 0.884);
    font-size: 24px;
}
.content-right-image-div > p {
    width:50%;
    margin: 0 auto;
    line-height: 2em;
}

@media (max-width: 700px ) {
    .content-right {
        display: none;
    }
    .content-left {
        width: 100%;
    }
}