.dogTypesSection {
    background: rgba(179, 177, 177, 0.274);
    /* height: 100vh; */
    height: 100%;
}

.content {
    margin: 1em auto;
    margin-bottom: 0;
    display:flex;
    width:90%;
    height: 100%;
}

.content-left {
    justify-content: left;
    width: 40%;
    margin: 3em 0;
}

.content-left-top-text {
    /* margin: 2em; */
    text-align: left;
    /* background: yellow; */
}
.main-text {
    color: rgba(151, 36, 1, 0.884);
    font-size: 200%;
    font-weight: 700;
}
.sub-text {
    color: #282c34;
    /* font-size: 115%; */
    font-size: 18px;
}

.content-left-paragraph {
    /* justify-content: left; */
    display: flex;
    flex-direction: column;
    /* background: wheat; */
}
.content-left-paragraph > button {
    /* margin: 0 auto; */
    margin-left: 20%;
    margin-top: 2em;
}

.download-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.content-left-paragraph > div > button {
    margin: 0 auto;
}

div.content-left-paragraph > div > button > a {
    text-decoration: none;
    color: white;
}
.meet-our-dogs {
    margin-top: 1em;
    margin-left: 1.5em;
    width: 50%;
    height: 60px;
    border-radius: 40px;
    background: rgba(151, 36, 1, 0.884);
    border: none;
    color: white;
    font-size: 110%;
    float: left;
}

.content-left-paragraph > p {
    word-spacing: 0.25em;
    width: 90%;
    line-height: 1.25em;
    text-align: left;
}




/* right-side content */

.content-right {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0;
    width: 60%;
    /* background:green; */
}
.content-right-image-div {
    margin-top: 2em;
}
.content-right-image {
   width:400px;
}

.dog-name {
    color: rgba(151, 36, 1, 0.884);
    font-size: 24px;
}
.content-right-image-div > p {
    width:50%;
    margin: 0 auto;
    line-height: 2em;
}