
section {
    height: 100%;
    width: 100vw;
}

.about-info {
    padding-top: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about-left {
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;
}


.about-left-top-text {
    display: flex;
    flex-direction: column;
    margin: 2em;
    text-align: left;
    color: #282c34;
}

.about-left-text {
    line-height: 1.75em;
    margin-top: 3em;
    display: flex;
    min-width:90%;
}
.about-main-text {
    text-align: left;
    max-width: 80%;
    font-size: 200%;
    color: rgba(151, 36, 1, 0.884);
}


.download-app {
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;
    border-radius: 2rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* border: 4px solid yellow; */
    align-items: center;
    width: 50%;
}


#about-section > div > div.about-left > div > div > div.download-app > a > button {
    text-decoration: none;
    color: white;
    /* width: 120%; */
    border-radius: 40px;
    background: rgba(151, 36, 1, 0.884);

    margin: 0;
}
.meet-our-dogs {
    font-weight: 800;
    margin: 0 auto;
    height: 60px;
    border: none;
    font-size: 110%;
    transition: all 500ms ease-in-out;
}
#about-section > div > div.about-left > div > div > div.download-app > a > button:hover {
    /* background-color: #282c34; */
    transform: scale(1.1);
    cursor: pointer;
}

.meet-our-dogs-p {
    font-weight: 700;
    /* font-size: 40rem; */
}

/* right side */

.about-right {
    height: 100%;
    /* background: black; */
    display: flex;
    width: 50%;
    justify-content: center;
}
.about-right-text {
    overflow: hidden;
    margin-top: 3em;
    display: flex;
    width: 100%;
    /* background: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.about-right-card {
    width: 40%;
    /* margin: 0.5em 0; */
    background: white;
}

span {
    font-size: 135%;
    color: #282c34;
    font-weight: 800;
}

.about-right-card-text > p {
    /* font-size: 14px; */
    font-weight: 100;
    line-height: 1.5em;
}

.about-right-card-text > p > a {
    text-decoration: none;
    color: rgb(22, 22, 238);
}

.about-icon {
    font-size: 40px;
    padding: 10px;
}
