
$primaryColor: rgba(151, 36, 1, 0.884);
$secondaryColor: rgba(40, 44, 52, 1);
$primaryShadow: $secondaryColor 2px 2px 8px;
$alternateDivBackground: rgba(179, 177, 177, 0.1);





.pricing-section {
    height: auto;
    width: 100vw;
}

.pricing-div {
    // max-width: 90vw;
    // background: wheat;
    padding-top: 2rem;
    height: 100%;
    margin: 0 auto;
    .pricing-title {
        padding: 3rem;
        h1 {
            text-shadow: $primaryShadow;
            margin: 0;
            font-size: 4rem;
            color: $primaryColor;
        }
    }
}

.how-it-works-steps {
    margin: 0 auto;
    height: 100%;
    // width: 95%;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    // overflow: hidden;

    .step {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 1rem; 
        align-content: center;
    }
    .step:nth-child(2n+1){
        background: $alternateDivBackground;
        padding-top: 1rem;
    }

    .step-p {
        width: 4rem;
        border-radius: 5rem;
        height: 4rem;
        background: $primaryColor;
        font-size: 3rem;
        margin: 0 auto;
        color: white;
    }

    .step-info {
        font-size: 2rem;
        // margin: 4rem;
        padding-bottom: 4rem;
        font-weight: 300;
        padding-top: 2rem;
        margin: 0 auto;
        width: 90%;
        max-width: 40%;
    }
}
