
$primaryColor: rgba(151, 36, 1, 0.884);
$secondaryColor: rgba(40, 44, 52, 1);
$primaryShadow: #282c34 1px 1px 2px;
$alternateDivBackground: rgba(179, 177, 177, 0.1);

.pricing-section {
    position: relative;
    height: auto;
    width: 100vw;
}

.pricing-div {
    padding-top: 2rem;
    height: 100%;
    margin: 0 auto;
    .pricing-title {
        padding: 3rem;
        h1 {
            text-shadow: $primaryShadow;
            margin: 0;
            font-size: 50px;
            color: $primaryColor;
        }
    }
}

.how-it-works-steps {
    margin: 0 auto;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;

    .step {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 2rem;
    }

    .step-p {
        width: 4rem;
        border-radius: 5rem;
        background: $primaryColor;
        font-size: 3rem;
        margin: 0 auto;
        color: white;
    }

    .step-info {
        font-size: 24px;
        border-bottom: 2px solid black;
        padding-bottom: 4rem;
        font-weight: 300;
        padding-top: 2rem;
        margin: 0 auto;
        width: 90%;
        max-width: 40%;
        padding-top: 2rem;
    }
}

@media (max-width: 1000px) {
    #pricing-section > div > div.how-it-works-steps > div > p.step-info {
        min-width: 80%;
    }
    .pricing-div {
        padding-top: 0;
    }
    #pricing-section > div > div.pricing-title {
        padding-bottom: 0;
    }
    div.how-it-works-steps > div > p.step-info {
        font-size: 1rem;
    }

    #pricing-section > div > div.pricing-title > h1 {
        font-size: 3em;
    }
}