$primaryColor: rgba(151, 36, 1, 0.884);
$secondaryColor: rgba(40, 44, 52, 1);
$primaryShadow: $secondaryColor 2px 2px 8px;
$alternateDivBackground: rgba(179, 177, 177, 0.1);

h1 {
    text-shadow: $primaryShadow;
    margin: 0;
    font-size: 4rem;
    color: $primaryColor;
}

.contact {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    background: $alternateDivBackground;

    .contact-div {
        color: $primaryColor;
        font-size: 3rem;
        margin-bottom: 4rem;

        .phone {
            color: $secondaryColor;
            font-size: 2rem;
        }
    }
    .email-div {
        margin: 0 auto;
        justify-content: center;
        a {
            background:yellow;
            font-size: 5vw;
            text-decoration: none;
        }
    }
}

@media (max-width: 350px) {
    .email-div > a {
        font-size: 5px;
    }
}