footer {
    margin: 0;
    padding:0;
    width: 100vw;
}

.footer-ul {
    margin:0;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    background: #282c34;
}

.footer-ul > li {
    padding: 1em;
    font-size: 20px;
    margin: 1em 0;
}
.footer-ul > li > a {
    color: white;
    text-decoration: none;
}
.footer-ul > li > a:hover {
    color: blue;
}

@media (max-width: 590px) {
    .footer-ul > li {
        font-size: 12px;
    }
}