* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  /* background:blue; */
  /* max-width: 2vw; */
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 700px) {
  p {
    font-size: 65%;
  }


}
